*{
    padding: 0;
    margin: 0;
    --bg-color: #E3BC9A;
    --text-color: crimson;
}
body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}



.hero{
    padding: 5rem;
}

.hero-content{
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    color: black;
}
.btn{
    background-color: var(--text-color);
    color: white;
    border: 1px solid palevioletred;
    margin-top: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 200;
}
.btn:hover{
    background-color: blueviolet;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

div span{
    color: var(--text-color);
    font-weight: bold;
}

.about{
    display: flex;
    background-color: white;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 100px;
    margin: auto;
}

.about_me h3{
   font-size: medium;
    
}

.about img{
    border: 5px solid var(--bg-color);
    width: 250px;
    height: 300px;
}

.btn3{
    padding-top: 20px;
    background-color: var(--text-color);
    color: white;
    border: 1px solid;
    border-radius: 20px;
    margin: 30px;
    padding: 10px 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 200;
}

.btn3:hover{
    background-color: blueviolet;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.my_work{
    display: flex;
    justify-content: center;
    border: 5px double var(--text-color);
    background-color: white;
    
}
.design{
    padding-top: 20px;
    background-color: black;
    color: white;
    width: 50px;
    border-radius: 20px;
    margin: 30px;
    padding: 10px 40px;
    font-family: 'Courier New', Courier, monospace;
    
}
.design:hover{
    background-color: blueviolet;
    border: 1px solid var(--text-color);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
ul a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

h3+ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 30px;
    border: 10px solid black;
    margin-left: 2.5rem;
    margin-bottom: 25px;
    padding: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    

}

h3+ul li:hover{
    background-color: crimson;
    text-decoration: underline;
}



    





    
